@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #0D192C;
  font-family: 'Outfit';
}

main{
  display: flex;
  flex-direction: column;
  max-width: 327px;
  padding: 24px;
  margin: auto;
  border-radius: 15px;
  background: #15263F;   
}

.equilibrium{
  position: relative;    
}

.equilibrium-img img {  
  width: 100%;  
  margin: 0;  
  display: block;
}

.equilibrum-img {  
  height: 100%;  
  width: 100%;  
  margin: 0;  
}

.overlay{
  background-color: #00FFF8;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer; 
}

.eye{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.equilibrium:hover .overlay { 
  opacity: 0.5;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  padding: 12px 0;
  }

h1:hover,.name:hover{
  color:#00FFF8;
  cursor: pointer; 
}

.description{
  color:#8BACD9;
  font-weight: 300;
  font-size: 18px;
}

.statistics-info-container{
  display: flex;
  justify-content: space-between;
   margin: 16px 0;
}
  
.amount{
  color:#00FFF8;
  font-weight: 600;
  font-size: 15px;
}

.time{
  color:#8BACD9;
  font-weight: 400;
  font-size: 15px;
}

hr {
  width: 100%;
  border: 1px solid #15263F;    ;
}

.personal-info-contaner{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personal-info-contaner img{
  max-width: 33px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin-right: 16px;
}

.personal-info{
  color:#8BACD9;
  font-weight: 400;
  font-size: 15px;
}

.name{
  color: #fff;
}
  